---
import Layout from "../layouts/Layout.astro"

const cookie: string | null = Astro.request.headers.get('cookie')
if (cookie) {
  const [ _, value ] = cookie?.split('=')
  if (value.length < 1) return Astro.redirect('/login')
} else {
  return Astro.redirect('/login')
}
--- 
<Layout> title="User Only">
  <h1 class="text-4xl">User Only </h1>
  <p class="text-muted-foreground">admin</p>
  <form action="/logout" method="post">
    <button type="submit" class="flex mt-8 text-blue-500">logout</button>
  </form>
</Layout>