<div>
  <img src="/assets/me/me.jpg" />
</div>

<style>
  div {
    @apply flex justify-center;
  }
  img {
    @apply rounded-full border-4 border-skin-accent h-40 w-40 sm:h-52 sm:w-52 shadow-lg object-cover;
  }
</style>
